# Dependencies
/node_modules/
/.pnp
.pnp.js
venv/

# Build and Output
/.next/
/out/
/build/
/dist/

# Testing
/coverage/

# Environment Variables
.env
.env.local
.env.*.local
.env.development
.env.production

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
medusa.log

# IDE and Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Misc
*.pem
*.bak
*.tmp
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Netlify
.netlify

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.pyc

# Google Cloud Service Accounts
medusaio-9112ecd33e03.json
service-account*.json
*.json.key
